body{
    background-color: #ffffff;
    text-align: center;
    color: black;
    margin: 0px;
}
img{
    max-width: 90%;
    max-height: 90%;
}
img:hover{
    transition: 1s;
    max-width: 101%;
    max-height: 101%;
}
h1{
    margin: 2%;
}
p{
    margin: 4% 5%;
}
/*上方*/
.top{
    overflow: hidden;
    background-color: cornflowerblue;
    text-align: center;
}
.top a{
    float: left;
    font-size: 16px;
    color:#ffffff;
    padding: 14px 16px;
    text-decoration: none;
}
.top a:hover{
    color: brown;
    background-color: white;
}
/*下拉*/
.dropdown{
    float: right;
    overflow: hidden;
}
.dropdown .dropbtn{
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    color: black;
    padding: 16px 14px;
    margin: 0px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 2;
}
.dropdown-content a{
    color: black;
    padding: 16px 14px;
    text-decoration: none;
    display: block;
    float: left;
    text-align: center;
}
.dropdown-content a:hover{
    background-color: navy;
    color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropbtn{
    background-color: white;
}
/*左*/
.sidebar{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0.2%;
    margin: 0;
    background-color: cornflowerblue;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 10px 5px;
}
.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
}
.sidebar ul, .sidebar li{
    list-style: none;
    margin: 5px 10px;
    padding: 10px;
}
/*左動*/
.sidebar{
    transition: 1s;
}
.sidebar a:hover{
    color: red;
    background-color: white;
}
.sidebar:hover{
    width: 150px;
}
/*p*/
.text{
    text-align: center;
    color: rgb(10,10,10);
}
/*me 表格*/
table{
    margin-left:auto; 
    margin-right:auto;
}
/*計算機*/
.calculator{
    text-align: center;
    font-size: 20px;
}
select{
    font-size: 25px;
    border: 0ch;
    background-color: lemonchiffon;
}
.calculator input{
    border: 0cm;
    background-color: lightblue;
}
.cal{
    font-size: 45px;
}
label{
    font-size: 50px;
    color: maroon;
}
/*node.js*/
.node-in{
    text-align: left;
    color: navy;
    background-color: lemonchiffon;
    width: 85%;
    margin-left:auto; 
    margin-right:auto;
    font-size: 20px;
}
.node-in p{
    margin: 1%;
    margin-left: 10%;
}
.node-out{
    text-align: left;
    color: maroon;
    background-color: snow;
    width: 85%;
    margin-left:auto; 
    margin-right:auto;
    font-size: 20px;
}
.node-out p{
    margin: 1%;
    margin-left: 10%;
}
/*Node.js*/
.jsbt{
    cursor: pointer;
    font-size: 16px;
    border: 10px solid rgb(63, 63, 63);
    outline: none;
    background-color: rgb(53, 53, 54);
    color: white;
    padding: 14px;
}